.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  background-color: black;
  color: white;
  border: 2px solid orange;
  width: 25%;
  height: 200px;
}

.book_card {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}

.image {
  background-color: yellow;
}

ul {
  list-style: none;
}
