.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  margin-top: 10px;
  background-color: black;
  color: white;
  border: 2px solid orange;
  width: 45%;
}

.book_card {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

h4 {
  text-align: center;
}

ul {
  list-style: none;
}
