header {
  border: 3px solid red;
}

.change {
  display: grid;
  grid-template-columns: 0.54fr 1fr;
}

.change h1 {
  text-align: center;
}

.change form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.change form input {
  width: 40%;
  height: 25%;
}
